<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{layout/plantilla :: head}">
    <title>Admin - Muebles Rubio</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: header}"></header>
<nav th:replace="~{layout/plantilla :: navbar}"></nav>

<div class="main-container">
    <aside th:replace="~{layout/plantilla :: aside}"></aside>

    <main class="col-md-10 p-5 bg-light">
        <h2>Bienvenido, Administrador</h2>
    </main>
</div>

<footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>